/* initialisation */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #000;
    color: #fff;
}
header,footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}
header{
    position: sticky;
    top: 0;
    background-color: inherit;
}
header a, footer a{
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    transition: all 0.3s ease;
}
header a:hover, footer a:hover{
    text-decoration: underline;
    font-weight: bold;
}
header h1, footer h3{
    font-size: 2em;
}

/* main part  */

/* hero section */
section.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: 80vh;

}

div.herotext{
    max-width: 500px;
    gap: 10px;
}
div.herotext h2{
    font-size: 2.5em;
    margin-bottom: 20px;
}
div.herotext p{
    font-size: 1.2em;
    line-height: 1.5em;
}
div.herotext a{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    border-bottom: 2px solid darkgreen;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}
div.herotext a:hover{
    background-color: #fff;
    color: #333;
    border: 2px solid darkgreen;
}

div.heroimg{
    height: 100%;
    width: auto;
    padding: 10px;
}
div.heroimg img{
    width: 100%;
    height: auto;
}

/* technology section  */
section.technologies{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5% 10%;
    border-top: 1px solid #fff;
    gap: 20px;
    padding: 50px;
    
}
section.technologies div{
    text-align: left;
}
section.technologies h2{
    font-size: 1.5em;
    margin-bottom: 10px;
}
section.technologies p{
    font-size: 1em;
    font-style: italic;
}
/* projects section  */
section.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5% 10%;
    
}
section.projects .projects-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}
section.projects .projects-header h2{
    font-size: 2em;
}
section.projects .projects-header button{
    padding: 10px 20px;
    border: none;
    border-bottom: 2px solid darkgreen;
    background-color: transparent;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
section.projects .projects-header button:hover{
    background-color: darkgreen;
    color: #fff;
}

section.projects div.project-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
}
section.projects div.project-cards div.project-card{
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: all 0.3s ease;
}
section.projects div.project-cards div.project-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
}
section.projects div.project-cards div.project-card h3{
    font-size: 1.2em;
    margin-bottom: 10px;
}
section.projects div.project-cards div.project-card ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 5px;
}
section.projects div.project-cards div.project-card ul li{
    margin-bottom: 5px;
    font-size: 1em;
}
section.projects div.project-cards div.project-card a{
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}
section.projects div.project-cards div.project-card a:hover{
    text-decoration: underline;
    background-color: darkgreen;
    color: #fff;
    font-weight: bold;
}
/* contact section  */
section.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 10%;
    background-color: #333;
}
section.contact div{
    padding: 5px;
    margin: 10px 0;
    max-width: 500px;

}
section.contact form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    width: 100%;
}

section.contact input, section.contact textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    background-color: inherit;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 1em;
}
section.contact input::placeholder, section.contact textarea::placeholder{
    color: #aaa;
}
section.contact button{
    padding: 10px 20px;
    border: none;
    border-bottom: 2px solid darkgreen;
    background-color: transparent;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    max-width: 200px;
    
}
section.contact button:hover{
    background-color: darkgreen;
    color: #fff;
}